In [ ]:
import numpy as np
import pandas as pd

In [ ]:
from rpy2.robjects import r
from rpy2.robjects.pandas2ri import ri2py

r('library(MASS)')
boston = ri2py(r('Boston'))

We add few columns and datats for exercise proposes

In [ ]:
boston['inverse_zn'] = 1/boston['zn']
boston['ones'] = boston['inverse_zn'] * boston['zn']
boston['stupid'] = 'stupid'

boston2 = boston[['medv', 'ones']]

boston_lstat = boston[['lstat', 'medv']]
boston.head()

### 1. Renaming columns in pandas
http://stackoverflow.com/questions/11346283/renaming-columns-in-pandas

Rename columns in boston_lstat to 'lower_status', 'median_value'

### 2. Delete column from pandas DataFrame
http://stackoverflow.com/questions/13411544/delete-column-from-pandas-dataframe

Delete 'stupid' column from boston.

### 3. Adding new column to existing DataFrame in Python pandas

http://stackoverflow.com/questions/12555323/adding-new-column-to-existing-dataframe-in-python-pandas

Create boston3 DataFrame that contains all rows from boston2 that have 'medv' > 24. Then create new column 'normal' and assign to each row a number sampled from normal distribution with mu=100 and sigma=20.

### 4. add one row in a pandas.DataFrame

http://stackoverflow.com/questions/10715965/add-one-row-in-a-pandas-dataframe

I understand that pandas is designed to load fully populated DataFrame but I need to create an empty DataFrame then add rows, one by one. What is the best way to do this ?

Create empty DataFrame 'best_dses' with columns 'people' and 'salary', and then add rows, one by one:
"Carlos" 1,000,000, 
"Aleix" 10,000
"Bartek" 8,000.

### 5. How to drop rows of Pandas dataframe whose value of certain column is NaN
http://stackoverflow.com/questions/13413590/how-to-drop-rows-of-pandas-dataframe-whose-value-of-certain-column-is-nan

Do it with boston2's column 'ones'.

### 6. Pandas: change data type of columns
http://stackoverflow.com/questions/15891038/pandas-change-data-type-of-columns

Change type of column salary in best_dses to int (or to float if already it is int).

### 7. Selecting columns
http://stackoverflow.com/questions/11285613/selecting-columns

Select columns 'age' and 'lstat' from boston and save it to boston_select DataFrame

### 8. Get list from pandas DataFrame column headers
http://stackoverflow.com/questions/19482970/get-list-from-pandas-dataframe-column-headers

get list of column names of boston

### 9. How to filter the DataFrame rows of pandas by “within”/“in”? (use a list of values to select rows from a pandas dataframe)

http://stackoverflow.com/questions/12065885/how-to-filter-the-dataframe-rows-of-pandas-by-within-in
http://stackoverflow.com/questions/12096252/use-a-list-of-values-to-select-rows-from-a-pandas-dataframe

Select row that has values from list [24, 21.6]

### 10. Convert list of dictionaries to Dataframe
http://stackoverflow.com/questions/20638006/convert-list-of-dictionaries-to-dataframe

Transform best_dses.to_dict('records') to DataFrame